body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 32px;


  background: linear-gradient(196deg, #3acba6, #cb3a3a);
  background-size: 400% 400%;

  animation: AnimationName 10s ease infinite;

}

.container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
  border-radius: 4px;
}

.cell {
  border: 1px solid white;
  width: 16px;
  height: 16px;
}

.row {

}
